@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: minhafonte;
}
@font-face {
    font-family: minhafonte;
    src: url(fonts/Montserrat-Black.ttf);
}
body, html{
    max-width: 100vw;
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #024959;
    padding: 20px 0px 30px 0px;
    font-family: minhafonte;
    box-shadow: 2px 1px 5px 1px black;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img{
    margin-left: 20px;
    width: 35px;
    vertical-align: middle;
    height: auto;
}
.nomeempresa{
    vertical-align: middle;
    color: #3CA6A6;
}
#empresanome{
    vertical-align: middle;
    color: #3CA6A6;
}
.cor{
    color: #3CA6A6;
}
.menu{
    display: flex;
    align-items: center
}
.menu ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
.menu a{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-color: #026773;
    border-radius: 50px;
    margin-right: 20px;
}
.menu a:hover{
    color: black;
    background-color: #05384d;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 50px;
}
.menu a:active{
    border-radius: 50px;
    background-color: #05384d;
}
main{
    background-color: white;
    width: 100%;
    font-family: minhafonte;
    box-shadow: 2px 1px 5px 1px;
}
#img{
    background-image: url(../midia/imagem.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow: 0px 0px 4px #1fb1f0;
    background-attachment: scroll;
}
#msg{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
    line-height: 3em;
    color: #fff;
    border-radius: 15px;
    margin-left: 30px;
    font-weight: bolder;
    background: rgba(39, 116, 161, 0.164);
    padding: 20px;
    border-radius: 10px;
}
#msg h1{
    font-size: 2.6em;
}
#msg p{
    font-size: 1.5;
}
#msg h2{
    color: #fff;
    font-weight: bolder;

}
#dois{
    width: 100%;
    min-height: 80vh;
    background-color: #48dddd25;
}
#dois h1{
    font-size: 2em;
    margin-left: 30px;
    color: #3CA6A6;
    padding-top: 10px;
}
#dois > p{
    margin-top: 10px;
    font-size: 1.3em;
    margin-left: 30px;
}
.spacediv{
    display: flex;
}
.secaodiva img, .secaodivb img, .secaodivc img, .secaodivd img{
    width: 150px;
    height: 150px;
    text-align: center;
}
.secaodiva, .secaodivb, .secaodivc, .secaodivd{
    width: 22%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px 0px;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 350px;
    margin-right: 20px;
    padding-left: 15px;
    font-size: 1.4em;
    padding-right: 15px;
}
.secaodiva p, .secaodivb p, .secaodivc p, .secaodivd p {
    color: #026773;
    font-size: 1.3em;
}
#tres{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 4px #1fb1f0;
}
#tres > h1{
    font-size: 2.4em;
    color: #3CA6A6;
    margin-top: 10px;
}
#tres h2{
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}
.depoimentos{
    display: flex;
    width: 100%;
    flex: auto;
    justify-content: center;
}
.pessoas > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 30px;
}
.pessoas{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;
    background-color: #3ca6a662;
    padding: 10px;
    margin-top: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 10px;
}
.pessoas > h3{
    color: #3CA6A6;
    margin-top:30px ;
}
h4{
    color: gray;
    margin-top: 10px;
}
.pessoas > p{
    text-align: center;
    text-align: justify;
}
#quatro{
    padding: 30px;
    background-color: #48dddd25;
}
#quatro > h1{
    font-size: 4em;
    color: #3CA6A6;
    margin-top: 30px;
    margin-left: 30px;
}
#marcacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#quatro > #marcacao > h2{
    font-size: 1.5em;
    margin-top: 20px;
    margin-left: 30px;
}
#marcacao ul{
    list-style-type: none;
    margin-top: 20px;
}
#marcacao li{
        list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="blue"><path d="M9 16.2l-4.2-4.2L3 14l6 6 12-12-1.8-1.8z"/></svg>');
        padding-left: 10px;
        font-size: 1.2em;
}
#planos{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    margin-left: 30px;
    color: #389c9c;
    box-shadow: 0px 0px 6px #1fb1f0;
    border-radius: 10px;
    background-color: #48dddd25;
}
.planoa, .planob, .planoc{
    background-color: #3ca6a662;
    padding: 20px;
    width: 25%;
    text-align: center;
}
.planoa:hover, .planob:hover, .planoc:hover{
    background-color: #024959;
}
.planoa h1, .planob h1, .planoc h1{
    font-size: 2.5em;
    margin-top: 30px;
    margin-bottom: 40px;
}
.planoa a, .planob a, .planoc a{
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: #3CA6A6;
    cursor: pointer;

}
.planoa a:hover, .planob a:hover, .planoc a:hover{
    color: #3CA6A6;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    transition-duration: 0.5s;
    cursor: pointer;
    text-decoration: none;
}
.planoa p, .planob p, .planoc p{
    margin-top: 60px;
    margin-bottom: 60px;
    color: rgb(31, 30, 30);
    font-size: 1.3em;
    text-shadow: 0px 1px 1px #28373d;
}
.planoa{
    border-radius: 10px 0px 0px 10px;
}
.planoc{
    border-radius: 0px 10px 10px 0px;
}
footer{
    padding: 10px;
    width: 97.7vw;
    height: 25vh;
    background-image: url(../midia/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    box-shadow: 0px 0px 4px #1fb1f0;
}
.divspace{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 30px;
    margin-top: 40px;
}
.divsecao{
    margin-left: 10px;
    color: white;
}
.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.footer a{
    margin-top: 15px;
    text-decoration: none;
    color: #1fb1f0;
}
.footer > p{
    margin-top: 15px;
    text-decoration: none;
    color: #1fb1f0;
}
.footer a:hover{
    color: white;
    text-decoration: underline;
    transition-duration: 0.5s;
    cursor: pointer;
}
